@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Queries and Theories was made to bring kindred spirits together to have an enlightening discussion about anything in life</p>
