@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<h3>Generic Error</h3>
<p>
    An error has occurred, please contact the administrator and report what happened.
</p>

