@{
    ViewData["Title"] = "Home Page";
}

<head>
    <title>SSD Assignment</title>
</head>
<body>
    <h2>This is the homepage for the forums</h2>
    <p><a asp-action="ForumEnter">Enter the forums</a></p>
</body>
