@model ChangeEmailViewModel
@{
    ViewData["Title"] = "ChangeEmailAddress";
}

<h2>@ViewData["Title"].</h2>

<form asp-controller="Manage" asp-action="ChangeEmailAddress" method="post" class="form-horizontal">
    <h4>Change Email Address Form</h4>
    <hr />
    <div class="form-group">
        <label asp-for="OldEmailAddress" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="OldEmailAddress" class="form-control" />
            <span asp-validation-for="OldEmailAddress" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmedEmailAddress" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmedEmailAddress" class="form-control" />
            <span asp-validation-for="ConfirmedEmailAddress" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Change Email Address</button>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <recaptcha />
            <span class="text-danger" id="recaptchaErrorMessage"></span>
        </div>
    </div>
    <span style="display:inline-block;font-size:20px;margin:20px;border:1px solid #4800ff">
        @ViewBag.Message
    </span>
</form>
<script src='https://www.google.com/recaptcha/api.js'></script>
@section Scripts {
    <recaptcha-script validation-message-element-id="recaptchaErrorMessage" />
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
