@model IEnumerable<SSD_Migrated.Models.MessageModels.Message>
<head>
    <title>Create a Thread</title>
</head>
<body>
    <form>
        <fieldset>
        <legend>Submit a discussion thread</legend>
        Title:<br />
        <input type="text" name="title" value="" /><br />
        Thread Content:<br />
        <input type="text" name="content" value="" /><br />
        <input type="submit" value="Submit" />
        </fieldset>

    </form>
</body>