@model IEnumerable<SSD_Migrated.Models.MessageModels.Message> 
@inject SignInManager<ApplicationUser> SignInManager
<head>
    <title>Forum Homepage</title>
</head>
<body>
    @foreach (var p in Model)
    {
        @if (p.pId == 0)
        {
            <div>
                <form id="@p.mId" asp-action="Thread" asp-controller="Message" method="get">
                    <input type="hidden" name="tid" value="@p.tId" />
                    <span class="lead">
                        <button type="submit" class="btn btn-info btn-sm">
                            @p.title
                        </button>
                    </span>
                </form>
                <h6>Author:@p.author</h6>
            </div>
            }
        }
    @if (SignInManager.IsSignedIn(User))
    {
        <form asp-action="CreateThread" asp-controller="Message" method="get">
            <input type="submit" value="Create a thread" />
        </form>
    }
</body>
@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}


