@model SSD_Migrated.Models.MessageModels.ThreadViewModel

<head>
    <title>@ViewData["Title"]</title>
</head>

<body>

    @{ var threadlist = ViewData["threadlist"] as IEnumerable<SSD_Migrated.Models.MessageModels.Message>; }
    @foreach (var p in threadlist)
    {
        <div>
            <h3>@p.content</h3>
        </div>
        <hr />

    }
    <hr />
    <label>Reply to Thread</label>
    <form asp-action="Reply" asp-controller="Message" method="post">
        <div class="form-group">
            <textarea asp-for="Message.content" class="form-control" cols="40" rows="5"></textarea>
            <input type="hidden" asp-for="Message.title" value="Placeholder" />
            <input type="hidden" asp-for="Message.author" value="Placeholder"  />
            <input type="hidden" asp-for="Message.tId" value=@ViewData["tId"] />          
        </div>
        <div class="text-left">
            <button class="btn btn-primary" type="submit">Submit reply</button>
        </div>
    </form>
</body>