@model SSD_Migrated.Models.MessageModels.ThreadViewModel

<head>
    <title>@ViewData["Title"]</title>
</head>

<body>
    <div>
        <h2>@ViewData["Title"]</h2>
        <hr />
        <h3>@ViewData["Message"]</h3>
    </div>
    <hr />
    <label>Reply to Thread</label>
    <form asp-action="Reply" asp-controller="Message" method="post">
        <div class="form-group">
            <textarea asp-for="MessageObj.content" class="form-control" cols="40" rows="5"></textarea>
            <input type="hidden" asp-for="MessageObj.title" value="" name="title" />
            <input type="hidden" asp-for="MessageObj.author" value="Placeholder"  />
            <input type="hidden" asp-for="MessageObj.tId" value=@ViewData["tId"] />          
        </div>
        <div class="text-left">
            <button class="btn btn-primary" type="submit">Submit reply</button>
        </div>
    </form>
</body>